.container {
    display: block;
    text-align: center;
    border: 1px solid red;
    border-radius: 75px;

}

#myImg {
    display: block;
    padding:  20px 50px;
}
.btn {
    background-color: rgb(226, 43, 43);
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    border: 1px solid red ;
}