.container {
    display: block;
    width: 50%;
    magin: 10px auto;
    text-align: center;
    border: 2px dashed red;
    border-radius: 75px;
}

#myImg {
    display: block;
    magin: 10px auto;
    padding: 20px 50px;
}
.btn {
    background-color: rgb(226, 43, 43);
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    border: 1px solid red ;
}
